.CreateNewMeal_header {
    text-align: center;
    font-family: sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background-color: #ca0000;
    color: white;
    padding: 3px;
    border-radius: 2px;
    margin-top: 18px;
}

.create_category_dropdown {
    width: 35%;
    font-size: 12px;
}

.meal_name_div {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px black dotted;
    padding: 5px;
    margin-right: 15px;
    background-color: #00007d;
}

.meal_image_div {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px black dotted;
    padding: 5px;
    margin-right: 15px;
    background-color: #00007d;
}

.meal_category_div {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;    
    border: 1px black dotted;
    padding: 5px;
    margin-right: 15px;
    background-color: #00007d;
}

.meal_description_div {
    display: flex;
    flex-direction: column;
    color: #ab4646e0;
    font-weight: bold;
    font-family: sans-serif;
    border: 1px black dotted;
    padding: 5px;
    margin-right: 15px;
    background-color: #00007d;
    margin-left: 15px;
    
}

.meal_name_class {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px black;

}

.meal_image_class {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px black;
}

.meal_category_class {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px black;
}

.meal_description_class {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px black;
    padding-bottom: 7px
}

.meal_textarea_class {
    height: 80px
}

.CreateNewMeal_buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.create_submit_button {
    background-color: azure;
    border-radius: 5px;
}

.create_cancel_button {
    margin-right: 30px;
    background-color: azure;
    border-radius: 5px;
}

@media all and (min-width: 700px) {

    .CreateNewMeal {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .CreateNewMeal_header {
        margin-top: 30px;
        font-size: 40px;
        width: 80%;
        text-align: center;
    }

    .meal_name_div, .meal_image_div, .meal_category_div, .meal_description_div {
        margin-bottom: 30px;
    } 

    #meal_name, #meal_image, #meal_category {
        width: 40%;
    }

    .meal_name_class, .meal_image_class, .meal_category_class, .meal_description_class {
        font-size: 23px;
        padding-left: 20px;
    }

    #meal_description.meal_textarea_class {
        font-size: 15px;
    }

    .instructions_paragraph {
        margin-left: 25px;
        font-size: 20px;
        
    }

    .create_submit_button, .create_cancel_button {
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    .create_cancel_button {
        margin-right: 55px;
    }

    .create_category_dropdown {
        width: 35%;
        font-size: 14px;
    }
}



