.login_username_div {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px black dotted;
    padding: 5px;
    margin-right: 15px;
    background-color: bisque;
}

.login_username_class {
    font-weight: bold;
    font-family: sans-serif;
}

.login_password_div {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px black dotted;
    padding: 5px;
    margin-right: 15px;
    background-color: bisque;
}

.login_password_class {
    font-weight: bold;
    font-family: sans-serif;
}

.login_buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login_cancel_button {
    margin-right: 30px;
    background-color: azure;
    border-radius: 5px;
}

.login_submit_button {
    background-color: azure;
    border-radius: 5px;
}

.Login_Header {
    font-family: monospace;
    background-color: aliceblue;
    color: #e43d00;
    width: 51%;
    padding-left: 8px;
    margin-left: 25px;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.error_message {
    text-align: center;
    color: red;
    padding-bottom: 10px; 
}


@media all and (min-width: 700px) {


    .Login_Header {
        font-size: 40px;
        width: 80%;
        text-align: center;
    }

    .login_username_class {
        font-size: 25px;
        padding-left: 30px;
    }

    .login_password_class {
        padding-left: 30px;
        font-size: 25px;
    }

    .login_username_div {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .login_password_div {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .login_cancel_button, .login_submit_button {
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    .login_cancel_button {
        margin-right: 100px;
    }

    #login_username {
        width: 40%
    }

    #login_password {
        width: 40%
    }
}

