.Instructions_Header {
    font-family: monospace;
    background-color: aliceblue;
    color: #e43d00;
    width: 51%;
    padding-left: 8px;
    margin-left: 25px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.Instructions {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff7f4;
    padding: 10px 20px 20px 20px;
}

.Instructions_List {
    font-family: sans-serif;
    font-size: 13px;
}

.Instructions_opening {
    font-family: sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
}

.image-signup {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.image-newpost {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.image-new {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 70%;
    width: 70%
}

.image-copylink {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 70%;
    width: 70%
}

.imgur_not_required {
    font-family: sans-serif;
    font-size: 14px;
}

@media all and (min-width: 700px) {
    .Instructions {
        width: 60%;
        margin-left: auto;
        margin-right: auto; 
    }

    .Instructions_Header {
        font-size: 40px;
        width: 90%;
        margin-top: 10px;
    }

    .Instructions_opening {
        font-size: 18px;
        line-height: 1.5;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .Instructions_List {
        font-size: 19px;
    }

    li {
        margin-bottom: 5px;
    }

    .instructions_image_signup, .instructions_image_newpost, .instructions_image_drag, .instructions_image_meal {
        margin-bottom: 8px;
        margin-top: 10px;
        margin-left: 40px;
    }

    .instructions_image_drag, .instructions_image_meal {
        width: 60%;
    }

    .imgur_not_required {
        font-size: 18px;
        margin-top: 35px;
        margin-left: 20px;
    }
}